
0div {
    width: 100%;
    height: 400px;
    background-image: url('img_flowers.jpg');
    background-size: cover;
    border: 1px solid red;
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#Home {
	font-family: 'Oswald', sans-serif;
    top: 20px;
    background-color: #6600cc;
	opacity: 0.5;
	hover: opacity: 1.0;
}

#blog {
	font-family: 'Oswald', sans-serif;
    top: 80px;
    background-color: #00ffcc;
}

#projects {
	font-family: 'Oswald', sans-serif;
    top: 140px;
    background-color: #ff3399;
}

#contact {
	font-family: 'Oswald', sans-serif;
    top: 200px;
    background-color: #0073e6;
}

#TOMI {font-family: 'Oswald', sans-serif;
    top: 260px;
    background-color: #FF6666;
}
#mind {font-family: 'Oswald', sans-serif;
    top: 340px;
    background-color: #FF2003;
}


#Blue {font-family: 'Oswald', sans-serif;
	border:2px#0073e6;

}
	

.icon-bar {
    width: 100%; 
    background-color: #555; 
    overflow: FIXED; 
}

.icon-bar a {
    float: left; 
    text-align: center; 
    width: 33%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #530; 
}

.active {
    background-color: #555; 
}


#title{
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:purple;
	   position: 
  top: 0px;

}

#Whoarewe{
	font-family: 'Oswald', sans-serif;
	color:#0073e6;
	
}
#Whoarewe2{
	font-family: 'Oswald', sans-serif;
	color:purple;
	
}
#Whoarewe3{
	font-family: 'Oswald', sans-serif;
	color:#ff3399;
	
}

#Paraus{
	font-family: 'Oswald', sans-serif;
	color:black;
	
}
}
#blogtitle{
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:purple;
	   position: 
  top: 0px;
}

#reviewjigsawtitle{
	font-family: 'Oswald', sans-serif;
	color:#ff3399;
}

#jigsawreview{
	font-family: 'Oswald', sans-serif;
	color:black;
}
#EMnumberslist{	
font-family:'Oswald', sans-serif;
	color:white;
	background-color:#f90202;
}
#contacttitle{
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:purple;
}	
#projecttitle{
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:purple;
	   position: 
  top: 0px;
}
#twitterlink{
	font-family: 'Oswald', sans-serif;
	color:black;

}
#phone{
	font-family: 'Audiowide', cursive;
	color:#030b60;
}
#5adayimg{
    width: 100%;
    height: 1200px;
}
